@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    width:1440px;

    box-sizing: border-box;
}

header, .hero-mid{
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1em;
}


/* HERO and TOP PART */
.hero{
    background-color: #1F2937;
    height: 600px;
}


header{
 display: flex;
 justify-content: space-around;
 /* padding: 16px;    */
}

.logo{
font-size: 24px;
font-weight: bolder;
color: #F9FAF8;
}

.link-list{
    margin-left: auto;
}

ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    gap: 1em;
}


li a {
    /* this removes the line under our links */
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
  }

/* Hero Mid Part */
.hero-mid{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.hero-left-side{
    display: flex;
    flex-direction: column;
    width: 400px;
}

  .hero-left-toptext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .hero-left-bottomtext{
    font-size: 18px;
    color: #E5E7EB;    
  }

  button{
    max-width: 100px;
    padding: 8px;
    margin-top: 16px;
    border: 1px solid white;
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAF8
  }

/* SECOND SECTION */
  .second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .second-section-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .squares{
    display: flex;
    gap: 3em;
  }

  .squarecontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin-bottom: 100px;
  }

  .square{
    border: 3px solid #3882F6;
    border-radius: 30px;
    height: 175px;
    width: 175px;
  }

  .squaretext{
    margin-top: 16px;
    text-align: center;
  }

  /* Third Section */

  .third-sectioncontainer{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .third-section{
    width: 900px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
  }
  
  .quote{
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;

  }

  .signature{
    font-weight: 900;
    font-size: 24px;
    margin-left: auto;
    color: #1F2937;
  }

  /* Fourth Section */

  .fourth-section{
    height: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F9FAF8
  }

  .fourth-sectioncontainer{
    height: 100px;
    width: 900px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }

  .calltoaction{
    font-weight: 900;
  }

  /* Footer */
  footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    color: #F9FAF8;

  }
